.form {
  margin-bottom: var(--space-12);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.label {
  min-width: fit-content;
}

/* Mobile */
@media (max-width: 600px) {
  .row {
    flex-wrap: nowrap;
  }
  
  .label {
    min-width: auto;
    font-size: 0.9rem;
  }
}
