.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  color: var(--text-muted);
}

.list {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 400px;
  list-style: none;
}
