.vDivider {
  border-left: 1px solid var(--border-color);
  align-self: stretch;
}

.hDivider {
  border-top: 1px solid var(--border-color);
  width: 100%;
}

/* Mobile */
@media (max-width: 600px) {
  .vDivider {
    border-left: 0;
    border-top: 1px solid var(--border-color);
    width: 100%;
    align-self: auto;
    margin: var(--space-12) 0;
  }
}
