.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty {
  color: var(--text-muted);
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-small);
}

.sortMenu {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.filterSortRow{
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

/* Mobile */
@media (max-width: 600px) {
  .filterSortRow {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .list {
    width: 100%;
    justify-content: center;
  }
}
